{
  "extends": [
    "alloy"
  ],
  "globals": {
    "describe": true,
    "it": true,
    "expect": true,
    "beforeAll": true,
    "afterAll": true
  },
  "rules": {
    "max-params": 0,
    "no-param-reassign": 0,
    "semi": 2,
    "no-eq-null": 0,
    "guard-for-in": 0,
    "prefer-template": 2,
    "no-return-assign": 0
  }
}