#app
  .test-after
    .after
    .after
  .test-append
  .test-append
  .test-attr
  .test-attr
  .test-empty
    .empty
      .empty2
    .empty1
      .empty12
  .test-show(style='display: none;')
